<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {%- unless page.lang -%}
    <script src="/assets/redirect.js"></script>
    {%- endunless -%}
</head>
<body>
<header class="site-header">
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <div class="trigger">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
                <a class="page-link" href="https://docs.releng.io/">
                    {{ page.desc_documentation | default: "Documentation" }}
                </a>
                <a class="page-link" href="https://github.com/releng-tool/releng-tool">
                    {{ page.desc_sources | default: "Sources" }}
                </a>
            </div>
        </nav>
    </div>
</header>
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>
<footer>
    <div class="wrapper language-footer">
        <hr />
        <ul>
            <li><a href="/?forcelang=1">en</a></li> |
            <li><a href="/de?forcelang=1">de</a></li> |
            <li><a href="/es?forcelang=1">es</a></li> |
            <li><a href="/pl?forcelang=1">pl</a></li> |
            <li><a href="/zh?forcelang=1">zh</a></li>
        </ul>
        <img src="/assets/lang.png" alt="" />
    </div>
</footer>
</body>
</html>
