<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
<header class="site-header">
    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <div class="trigger">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
                <a class="page-link" href="https://docs.releng.io/">Documentation</a>
                <a class="page-link" href="https://github.com/releng-tool/releng-tool">Sources</a>
            </div>
        </nav>
    </div>
</header>
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>
</body>
</html>
